@font-face {
    font-family: star-text;
    src: url("./assets/Starjedi.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0 16vw;

    display: flex;

    /* Maybe include this to wrap if window small. Check with all content */
     /* flex-wrap: wrap; */
}

#leftSide {
    position: relative;
    display: flex;
}

#attribute {
    position: absolute;
    bottom: 0;
    width: 100%;

    color: white;
    padding: 10px;
    background: rgba(0,0,0,0.35);
    text-align: center;
    font-size: 10px;
}

a {
    text-decoration: none;
}

img {
    height: 100vh;
    width: 100%;
}

#logoContainer {
    position: absolute;
    background: rgba(0,0,0,0.35);
    color: #222222;
    font-size: 48px;
    font-family: star-text;

    padding: 10px;
    width: 100%;
    top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 100px;
    width: 100px;
    filter: invert(10%) hue-rotate(109deg) brightness(96%) contrast(90%);
}

#signUpArea {
    background-color: #F7F7F7;
    min-width: 300px;
    padding-top: 64px;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 64px;
}

#signUpArea #actionText {
    font-size: 24px;
    margin-left: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form fieldset {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 16px;
    padding: 16px;
    border: 0;
    box-shadow: 2px 2px 5px;
}

form .row {
    display: flex;
    gap: 20%;
}

form .formInput {
    display: flex;
    flex-direction: column;
}

form button {
    width: 150px;
    
    margin-left: 32px;
    padding: 8px;
    border-radius: 6px;

    background-color: #222222;
    color: #F7F7F7;
}

form #account {
    margin-top: 0px;
    margin-left: 32px;
}

input {
    box-sizing: border-box;
    margin: 0;
}

input:invalid {
    border: 2px dashed #dd0000;
}

input:focus {
    border: 2px solid #0000aa;
    box-shadow: 1px 1px 5px 1px;
}